<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleform.css">
</head>
<body>
    <div class="form">

    
    <h3>Register if you are not a member</h3>
    
    <form id="form1" action="/join" method="POST">
        <button id="reg" type="submit" name="button" value="Reg">Sign Up</button><br>
        <h3>Already a member then sign in please</h3></div><br>
        <button id="log" type="submit" name="button" value="Log">Sign In</button>
       
    </form>
</div>
</body>
</html>