<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styledetails.css">
</head>
<body>
   
       <div class="circle"></div>
        <form id="form2" action="/Login" method="post">
                <input class="ele" type="text" name="email" id="" placeholder="Enter your email">
                <input class="ele" type="password" name="password" id="" placeholder="Enter your password">
                <button class="ele" type="submit">Submit</button>
        </form>
 
</body>
</html>